:root {
    --cor-de-fundo: #2b54a7;
    --branco: #FFFFFF;
    --laranja: #ccce48;
    --verde: linear-gradient(97.54deg, #1e921a 35.49%, #328965 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --vermelho: #930D00;
    --fonte-titulo: 
}

body {
    background-image: linear-gradient(#930D00, #000000);
    background-repeat: no-repeat;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.fundo {
    background-image: linear-gradient(#930D00, #000000);
}

.supra{
    margin: 1em 0 2em 0;

}   

.titulo {
    text-align: center;
    color: var(--branco);
    font-size: 48px;
    margin-top: 3%;
    font-style: oblique;
    
}

.descriçao {
    text-align: center;
    color: var(--branco);
    font-size: 25px;
    margin-top: 3%;
    font-style: oblique;

}

.toyotalogo{
    width: 370px;
    padding: 4px 8px;
    text-align: center;
}

.supra-nome{
    text-align: center;
    color: var(--branco);
}